<!DOCTYPE html>
<html>
  <head>
    <title>Meet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller_name == "sessions" %>
      <% if controller_name == "users" %>
        <% if action_name == "index" %>
          <div class="header" id="myHeader" style="height:100%">
            <%= link_to (image_tag 'Logo.png', style: "height: 50px; width: 50px; border-radius: 25px"), meetings_path, style: "float:left; margin: 20px 0 0 20px" %>
          </div>
        <% else %>
          <div class="header" id="myHeader" style="height:100%">
            <%= link_to (image_tag 'Logo.png', style: "height: 50px; width: 50px; border-radius: 25px"), users_path, style: "float:left; margin: 20px 0 0 20px" %>
          </div>
        <% end %>
        <div style="margin: 50px">
          <%= yield %>
        </div>
      <% elsif controller_name == "meetings" %>
        
        <div class="row no-gutters">
          <div class="col-md-1">
            <div class="header" id="myHeader" style="height:100%">
              <%= link_to (image_tag 'Logo.png', style: "height: 50px; width: 50px; border-radius: 25px"), users_path, style: "float:left; margin: 20px 0 0 20px" %>
            </div>
          </div>
          <%= yield %>
        </div>
      <% end %>
    <% end %>
    
    
  </body>
</html>

<script>
  window.onscroll = function() {myFunction()};
  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script>
